{% extends 'base.html' %}

{% block content %}
    <h2 style="text-align: center">{{ search | title }}</h2>

    <div class="row">
        {% for post in final_postings %}
            <div class="col s4">
                <div class="card">
                    <div class="card-image">
                        <a href="https://cdn.pixabay.com/photo/2024/05/26/10/15/bird-8788491_1280.jpg"><img src="/" alt=""></a>
                    </div>
                    <div class="card-content">
                        <p>{{ post.0 }}</p>
                    </div>
                    <div class="card-action">
                        <a href="https://cdn.pixabay.com/photo/2024/05/26/10/15/bird-8788491_1280.jpg">View listing: Price {{ post.2 }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        {% for post in final_postings %}
            <div class="col s4">
                <div class="card">
                    <div class="card-image">
                        <a href="https://cdn.pixabay.com/photo/2024/05/26/10/15/bird-8788491_1280.jpg"><img src="/" alt=""></a>
                    </div>
                    <div class="card-content">
                        <p>{{ post.0 }}</p>
                    </div>
                    <div class="card-action">
                        <a href="https://cdn.pixabay.com/photo/2024/05/26/10/15/bird-8788491_1280.jpg">View listing: Price {{ post.2 }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        {% for post in final_postings %}
            <div class="col s4">
                <div class="card">
                    <div class="card-image">
                        <a href="https://cdn.pixabay.com/photo/2024/05/26/10/15/bird-8788491_1280.jpg"><img src="/" alt=""></a>
                    </div>
                    <div class="card-content">
                        <p>{{ post.0 }}</p>
                    </div>
                    <div class="card-action">
                        <a href="https://cdn.pixabay.com/photo/2024/05/26/10/15/bird-8788491_1280.jpg">View listing: Price {{ post.2 }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}

